{% extends 'base.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}تسجيل الدخول{% endblock title %}

{% block content %}
  <h2>تسجيل الدخول</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success ml-2" type="submit">سجل الدخول</button>
  </form>
{% endblock content %}