{% extends "‏‏base_up.html" %}

{% block title %}Password change successful{% endblock title %}

{% block content %}
  <h1>Password change successful</h1>
  <p>Your password was changed.</p>
{% endblock content %}