{% extends '‏‏base_up.html' %}

{% block title %}Password Change{% endblock title %}
 
{% load crispy_forms_tags %}

{% block content %}
  <h1>Password change</h1>
  <p>Please enter old password.<p>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Change my pass.">
  </form>
{% endblock content %}


