{% extends "‏‏base_up.html" %}


{% block title %}Forgot Your Password{% endblock title %}

{% load crispy_forms_tags %}


{% block content %}
  <h1>Forgot Your Password</h1>
  <p>Enter your email</p>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Send me!">
  </form>
{% endblock content %}

