{% extends "‏‏base_up.html" %}
{% load i18n %}
{% load static %}


{% block content %}
<!-- featured 
    ================================================== -->
<section class="s-featured">
  <div class="row">
    <div class="col-full">

      <div class="featured-slider featured" data-aos="zoom-in">
      {% for article in object_list %}
            <div class="featured__slide">
            <div class="entry">
        
                <div class="entry__background"
                style="background-image:url({% static 'images/thumbs/featured/featured-watch.jpg' %})"></div>

                <div class="entry__content">
                <span class="entry__category"><a href="{% url 'article_detail' 1 %}">{{ article.title }}</a></span>

                <h1><a href="{% url 'article_detail' 1 %}" title="">{{ article.body }}</a></h1>

                <div class="entry__info">
                    <ul class="entry__meta">
                    <li><a href="#0">{{ article.author }}</a></li>
                    <li>{{ article.date|date:"D d M Y" }}</li>
                    </ul>
                </div>
                </div> <!-- end entry__content -->

            </div> <!-- end entry -->
            </div> <!-- end featured__slide -->
        {% endfor %}

      </div> <!-- end featured -->

    </div> <!-- end col-full -->
  </div>
</section> <!-- end s-featured -->

    <!-- s-content
    ================================================== -->
    <section class="s-content">
        
        <div class="row entries-wrap wide">
            <div class="entries">
                {% for article in object_list %}
                  {% if forloop.counter == 2 %}
                    <article class="col-block">
                        
                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="{% url 'article_detail' article.pk %}" class="item-entry__thumb-link">
                                    <img src="{% static 'images/thumbs/post/lamp-800.jpg' %}" 
                                        srcset="{% static 'images/thumbs/post/lamp-800.jpg' %} 1x, {% static 'images/thumbs/post/lamp-800.jpg' %} 2x" alt="">
                                </a>
                            </div>
            
                            <div class="item-entry__text">    
                                <div class="item-entry__cat">
                                    <a href="#">Design</a> 
                                </div>
        
                                <h1 class="item-entry__title"><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h1>
                                    
                                <div class="item-entry__date">
                                    <a href="{% url 'article_detail' article.pk %}">{{ article.date|date:"D d M Y" }}</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->
                  {% else %}
                    <article class="col-block">
                    
                      <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                          <a href="{% url 'article_detail' article.pk %}" class="item-entry__thumb-link">
                            <img src="{% static 'images/thumbs/post/fuji-800.jpg' %}"
                              srcset="{% static 'images/thumbs/post/fuji-800.jpg' %} 1x, {% static 'images/thumbs/post/fuji-800.jpg' %} 2x"
                              alt="">
                          </a>
                        </div>
                    
                        <div class="item-entry__text">
                          <div class="item-entry__cat">
                            <a href="#">Design</a>
                          </div>
                    
                          <h1 class="item-entry__title"><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h1>
                    
                          <div class="item-entry__date">
                            <a href="{% url 'article_detail' article.pk %}">{{ article.date|date:"D d M Y" }}</a>
                          </div>
                        </div>
                      </div> <!-- item-entry -->
                    
                    </article> <!-- end article -->
                  {% endif %}
                {% endfor %}

            </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->

        <div class="row pagination-wrap">
            <div class="col-full">
                <nav class="pgn" data-aos="fade-up">
                    <ul>
                        <li><a class="pgn__prev" href="#0">Prev</a></li>
                        <li><span class="pgn__num current">1</span></li>
                        <li><a class="pgn__next" href="#0">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </section> <!-- end s-content -->


{% endblock content %}