{% extends '‏‏base_up.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>New article</h1>
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-Ǒ" type="submit">Save</button>
    </form>
{% endblock content %}