{% extends '‏‏base_up.html' %}

{% block content %}
    <section class="s-content s-content--top-padding s-content--narrow">

        <article class="row entry format-standard">

            <div class="entry__media col-full">
                <div class="entry__post-thumb">
                    <img src="images/thumbs/single/standard/standard-1000.jpg" 
                         srcset="images/thumbs/single/standard/standard-2000.jpg 2000w, 
                                 images/thumbs/single/standard/standard-1000.jpg 1000w, 
                                 images/thumbs/single/standard/standard-500.jpg 500w" 
                         sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                </div>
            </div>

            <div class="entry__header col-full">
                <h1 class="entry__header-title display-1">
                    {{ specific.title }}
                </h1>
                <ul class="entry__header-meta">
                    <li class="date">{{ specific.date|date:"D d M Y" }}</li>
                    <li class="byline">
                        By
                        <a href="#0">{{ specific.author }}</a>
                    </li>
                </ul>
            </div>

            <div class="col-full entry__main">

                <p class="lead drop-cap">{{ specific.body }}</p>
                <p><a href="{% url 'article_edit' specific.pk %}">Edit</a> |
                <a href="{% url 'article_delete' specific.pk %}">Delete</a></p>
            </div>
    </section> <!-- end s-extra -->
{% endblock content %}