{% extends '‏‏base_up.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Edit</h1>
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-info ml-Ǒ" type="submit">Update</button>
    </form>
{% endblock content %}