{% extends 'base.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}تسجيل جديد{% endblock title %}

{% block content %}
  <h2>Sign up</h2>
  <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-outline-success" type="submit">سجل جديد</button>
  </form>
{% endblock content %}