<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{% block title %}Homepage{% endblock title %}</title>

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->


    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body id="top">

    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- header
    ================================================== -->
    <header class="s-header header">

        <div class="header__logo">
            <a class="logo" href="{% url 'home' %}">
                <img src="{% static 'images/logo.svg' %}" alt="Homepage">
            </a>
        </div> <!-- end header__logo -->

        <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
        <nav class="header__nav-wrap">

            <h2 class="header__nav-heading h6">Navigate to</h2>

            <ul class="header__nav">
                <li class="current"><a href="{% url 'home' %}" title="">Home</a></li>
                {% if user.is_authenticated %}
                    <li class="has-children">
                        <a href="#">{{ user.username }}</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'password_change' %}">Change password</a></li>
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'article_new' %}" title="">+ New post</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    <li><a href="{% url 'signup' %}" title="">Sign up</a></li>
                {% endif %}
            </ul> <!-- end header__nav -->

            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

        </nav> <!-- end header__nav-wrap -->

    </header> <!-- s-header -->

{% block content %}

{% endblock content %}

    <!-- s-footer
        ================================================== -->
    <footer class="s-footer align-center">

        <div class="s-footer__main">
            <div class="row">

                <div class="col-full tab-full s-footer__about align-center">

                    <h4>About Hasan</h4>

                    <p>Aka HNBR a student in Al-Hudaybiya secondary school who loves IT, Physics and Maths.
                       <br>With two friends Amjad & Noor.</p>
                </div> <!-- end s-footer__about -->

            </div>

        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom" style="align-content: center;">
            <div class="row">

                <div class="col-six">
                    <ul class="footer-social">
                        <li>
                            <a href="https://instagram.com/HNBR_system"><i class="fab fa-instagram"></i> Hasan</a>
                        </li>
                        <li>
                            <a href="https://instagram.com/nr4hm/"><i class="fab fa-instagram"></i> Noor</a>
                        </li>
                        <li>
                            <a href="https://instagram.com/amgadalyafi/"><i class="fab fa-instagram"></i> Amjad</a>
                        </li>
                    </ul>
                </div>

                <div class="col-six">
                    <div class="s-footer__copyright">
                        <span>
                            <script>document.write(new Date().getFullYear());</script> This website
                            is made with <i class="fa fa-heart" aria-hidden="true"></i> by HNBRsystem.
                        </span>
                    </div>
                </div>

            </div>
        </div> <!-- end s-footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer> <!-- end s-footer -->


    <!-- Java Script
        ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>